.container{
background-color: red;
height: 50px;
margin-top: 100px;
border:  2px solid green ;
width: 50px;

}
.div2{
background-color: black;
height: 50vh;
width: 50%;
border: red 10px dashed;
margin-top: 100px;
margin-left: 100px;
}